@model IEnumerable<StuWeb.Models.Student>

@{
    ViewData["Title"] = "随机抽取";
}

<h2>@ViewData["Title"]</h2>
<h3>@ViewData["status"]</h3>
<form asp-controller="Students" asp-action="Random" method="get">
    <p>
        抽取人数:<input type="text" name="countstring" />
        <input type="submit" value="随机抽取" />
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClassNum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Subject)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sex)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ClassNum)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Subject)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sex)
                </td>
            </tr>
        }
    </tbody>
</table>
